/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}
body{
  background-image: url(../image/feed.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron{
  background-color: #00FF7F;
  color:black;
  font-size: 70px;
  text-align: center;
   height:15%;
   width:96%;
   margin: auto;
   margin-top: 7px;
   margin-right: 300px;


}

.container{
  /*border: 1px;*/
   /*height: 600px;*/
   /*margin-left:100px;
   margin-right:100px;*/
 background-image: url(../image/see.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
}


h2{
font-size: 30px;
margin-top:-29px;
line-height: 20px;

}

.pale{
  font-size: 40px!important;
  margin-left: 21%;
  font-family: fantasy;


}

.about-container{
  margin-top: 30px;
  /*width: 100%;
  height:100%;*/
  border:1px;
  margin-left: 0.5%;
}

.about-image{
  float: left;
 margin:-5px;
  border:1px;
  margin-top: 4px;
}

.about-content{
    float:right;
    width:81%;
    border:2px;
    font-size: 18px;
    margin-top: 11px;

  }

.ge{
  font-size: 17px;
  color:#B22222;
  font-family: monospace;

}

.or{
  font-size: 17.5px;
  font-family: fantasy;
  text-decoration:underline;

}

.nb{
  color: #00FF7F;
  margin-right: 1%;

}
.fn{
  font-family: cursive;
  font-size: 20px;
}

/*.get{
  font-size: 1px
}*/
